#
CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_zte_e8820s=y

#
# 无线驱动
#
#use opensource wifi driver
CONFIG_PACKAGE_kmod-mt7603=n
CONFIG_PACKAGE_kmod-mt7603e=y
CONFIG_PACKAGE_kmod-mt76x2=n
CONFIG_PACKAGE_kmod-mt76x2-common=n
CONFIG_PACKAGE_kmod-mt76x2e=y
CONFIG_PACKAGE_luci-app-mtwifi=y